.header {
    background-color: var(--dark-background-color);
    height: 100vh;
    padding: 2%;
    position: relative;
    overflow: hidden; /* Prevent particles from overflowing the header */
}

.headerParticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Particles behind the content */
    pointer-events: none; /* Prevent interaction with particles */
}

.particle {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.headerInformation {
    z-index: 1;
    position: relative;
}

.headerInformation__title {
    color: var(--font-color-light);
    font-weight: lighter;
    font-size: var(--font-size-title);
    width: 30%;
    margin-bottom: 15px;
}

.headerInformation__subtitle {
    color: var(--font-color-gray-header);
    width: 400px;
    font-size: var(--font-size-medium);
}

.headerContactWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 50%;
    z-index: 1;
    position: relative;
}

.headerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContact__text {
    margin-bottom: 15px;
    color: var(--font-color-gray-header);
    font-size: var(--font-size-medium);
}

.headerContact__link {
    background-color: var(--contact-button-background-color-light);
    padding: 5px;
    border-radius: 8px;
    width: 130px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-dark);
    font-size: var(--font-size-medium);
}

.headerContact__link:hover {
    color: var(--font-color-gray-header);
}



/* Media Queries for Responsiveness */
@media (max-width: 1000px) {

    .headerInformation {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerInformation__title {
        width: 60%;
        margin-bottom: 15px;
        text-align: center;
    }

    .headerInformation__subtitle {
        width: 60%;
        text-align: center;
    }

    .headerContact {
        margin-top: 20%;
    }

    .headerContact__text {
        width: 70%;
        text-align: center;
    }
}

@media (max-width: 600px) {
  
    .headerInformation__title {
        width: 80%;
    }

    .headerInformation__subtitle {
        width: 80%;
       
    }

    .headerContact__text {
        width: 70%;
        
    }
}


@media (max-width: 400px) {
  
    .headerInformation__title {
        width: 100%;
    }

    .headerInformation__subtitle {
        width: 95%;
       
    }

    .headerContact__text {
        width: 85%;
        
    }
}