# Global Caddy settings
{
    admin off # Disable admin API (not needed in Railway)
    persist_config off # Storage isn't persistent anyway
    auto_https off # Railway handles HTTPS, so this would cause issues
    log {
        format json # Set runtime log format to JSON
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8 # Trust Railway's proxy
    }
}

# Listen on Railway's assigned $PORT
:{$PORT:3000} {
    log {
        format json # Set access log format to JSON
    }

    # Health check for Railway
    rewrite /health /*

    # Serve from 'dist' folder (Vite builds into 'dist')
    root * dist

    # Enable Gzip compression
    encode gzip

    # Serve files from 'dist'
    file_server

    # If path doesn't exist, serve 'index.html' for client-side routing
    try_files {path} /index.html
}
